body{
    font-family: 'Roboto', sans-serif;
    font-size: 16 px;

}

.logo{
    font-family: 'Raleway';
}

h1, h2, h3,

h1{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02;
    line-height: 60px;
}
h2{
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
h3{
    font-size: 20px;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

small{

}
medium{

}
button-text{

link{

}
logo{
    font-family: 'Raleway';
}